<h1>Weather</h1>

<h2>Current</h2>
Temperature: {{round current.temp}} °C <br/>
Clouds: {{current.clouds}} % <br/>
Sun: {{unix-time current.sunrise}} - {{unix-time current.sunset}} <br/>
Rain: {{current.rain.1h}} mm<br/>
Snow: {{current.snow.1h}} mm<br/>
{{current.weather.[0].main}}<br/>
{{current.weather.[0].description}}<br/>
<img src="http://openweathermap.org/img/wn/{{current.weather.[0].icon}}@2x.png"/><br/>

<h2>Minutely</h2>
<table>
    <tr>
        <th>Time</th>
        {{#each minutely}}
            <td>{{unix-time this.dt}}</td>
        {{/each}}
    </tr>
    <tr>
        <th>Precipitation</th>
        {{#each minutely}}
            <td>{{this.precipitation}} mm</td>
        {{/each}}
    </tr>
</table>

<h2>Hourly</h2>
<table>
    <tr>
        <th rowspan="2">Time</th>
        <th rowspan="2">Temperature</th>
        <th rowspan="2">Clouds</th>
        <th rowspan="2">Pop</th>
        <th rowspan="2">Rain</th>
        <th rowspan="2">Snow</th>
        <th colspan="3">Weather</th>
    </tr>
    <tr>
        <th>general</th>
        <th>details</th>
        <th>icon</th>
    </tr>
    {{#each hourly}}
    <tr>
        <td>{{unix-time this.dt}}</td>
        <td>{{round this.temp}} °C</td>
        <td>{{this.clouds}}%</td>
        <td>{{this.pop}}</td>
        <td>{{this.rain.1h}} mm</td>
        <td>{{this.snow.1h}} mm</td>
        <td>{{this.weather.[0].main}}</td>
        <td>{{this.weather.[0].description}}</td>
        <td>
            <img src="http://openweathermap.org/img/wn/{{this.weather.[0].icon}}@2x.png"/>
        </td>
    </tr>
    {{/each}}
</table>

<h2>Daily</h2>
<table>
    <tr>
        <th rowspan="2">Day</th>
        <th colspan="6">Temperature</th>
        <th rowspan="2">Clouds</th>
        <th rowspan="2">Pop</th>
        <th rowspan="2">Rain</th>
        <th rowspan="2">Snow</th>
        <th colspan="3">Weather</th>
    </tr>
    <tr>
        <th>min</th>
        <th>max</th>
        <th>morning</th>
        <th>day</th>
        <th>evening</th>
        <th>night</th>
        <th>general</th>
        <th>details</th>
        <th>icon</th>
    </tr>
    {{#each daily}}
    <tr>
        <td>{{unix-date this.dt}}</td>
        <td>{{round this.temp.min}} °C</td>
        <td>{{round this.temp.max}} °C</td>
        <td>{{round this.temp.morn}} °C</td>
        <td>{{round this.temp.day}} °C</td>
        <td>{{round this.temp.eve}} °C</td>
        <td>{{round this.temp.night}} °C</td>
        <td>{{this.clouds}}%</td>
        <td>{{this.pop}}</td>
        <td>{{this.rain.1h}} mm</td>
        <td>{{this.snow.1h}} mm</td>
        <td>{{this.weather.[0].main}}</td>
        <td>{{this.weather.[0].description}}</td>
        <td>
            <img src="http://openweathermap.org/img/wn/{{this.weather.[0].icon}}@2x.png"/>
        </td>
    </tr>
    {{/each}}
</table>
