{{#if title}}
    <h1>{{title}}</h1>
{{/if}}

{{#each eventInfos}}
    <div style='background-color: {{{color.background}}}'>
        {{event.start.dateTime}} - {{event.end.dateTime}}:
        <a href="{{{event.htmlLink}}}">{{event.summary}}</a> | {{calendar.summary}}
    </div>
{{/each}}