{{#if title}}
    <h1>{{title}}</h1>
{{/if}}

{{#each eventInfos}}
    <div style='background-color: {{{this.color.background}}}'>
        {{this.event.start.dateTime}} - {{this.event.end.dateTime}}:
        <a href="{{{this.event.htmlLink}}}">{{this.event.summary}}</a> | {{this.calendar.summary}}
    </div>
{{/each}}