{{#if title}}
    <h1>{{title}}</h1>
{{/if}}

<a class="card-action material-icons"
    href="https://app.asana.com/0/{{listId}}">launch</a>

{{#each tasks}}
    <a class="item"
        href="https://app.asana.com/0/{{../listId}}/{{gid}}/f"
        title="{{notes}}">

        <span class="column {{#ifEquals assignee_status 'inbox'}}negative-attention{{/ifEquals}}">
            {{name}}
        </span>

        {{#if due_on}}
            <span class="column {{#if is_past_due}}negative-attention{{/if}} {{#if is_due_today}}positive-attention{{/if}}"
                  style="flex: 0 0 5rem;">
                {{date-wordy due_on}}
            </span>
        {{/if}}
    
    </a>
{{else}}
    No tasks for today!
{{/each}}
