{{#if title}}
    <a href="https://calendar.google.com/calendar/?authuser={{emailAddress}}" class="anchor-header">
        <h1>{{title}}</h1>
    </a>
{{/if}}

{{#each eventsByDate}}
    <h2>{{readable-date date}}</h2>

    {{#each events}}
        <div class="item" title="{{notes}}">

            <a class="column right" style="flex: 0 0 2rem" href="{{{uri}}}">
                {{#if showStartTime}}
                    {{time startDateTime}}
                {{/if}}
            </a>

            <a class="column center" style="flex: 0 0 1rem" href="{{{uri}}}">
                {{#unless isFullDay}}
                    —
                {{/unless}}
            </a>

            <a class="column right" style="flex: 0 0 2rem;" href="{{{uri}}}">
                {{#if showEndTime}}
                    {{time endDateTime}}
                {{/if}}
            </a>

            <a class="column"
               style="color: {{{calendar.color}}}; flex: 0 0 0.1rem; margin-left: 0.5rem;"
               title="{{calendar.name}}"
               href="{{{uri}}}">
                  〣
            </a>

            <a class="column" style="margin-left: 0.5rem;" href="{{{uri}}}">
                {{title}}
            </a>

            {{#if videoConferenceUri}}
                <span class="column right" style="flex: 0 0 5rem;">
                    <a href="{{{videoConferenceUri}}}">video</a>
                </span>
            {{/if}}
        </div>
    {{else}}
        No events on this date.
    {{/each}}
{{/each}}