<table class="editable-elements-container">
    <tbody>
        {{#each entries}}
            <tr
                data-date="{{to-string date}}"
                {{#if isLastTrackedEntry}} style="border-bottom: 1px solid gray" {{/if}}>
                <td>
                    {{readable-date date}}
                </td>
                <td>
                    {{#if ../ignoreSkippedDays}}
                        <label>
                            <input
                                type="radio"
                                class="editable-element"
                                name="date-{{to-string date}}"
                                value="true"
                                {{#if-equals value true}}checked{{/if-equals}} />
                            yes
                        </label>
                        
                        <label>
                            <input
                                type="radio"
                                class="editable-element"
                                name="date-{{to-string date}}"
                                value="false"
                                {{#if-equals value false}}checked{{/if-equals}} />
                            no
                        </label>

                        <label>
                            <input
                                type="radio"
                                class="editable-element"
                                name="date-{{to-string date}}"
                                value="null"
                                {{#if-equals value undefined}}checked{{/if-equals}}
                                {{#if-equals value null}}checked{{/if-equals}} />
                            ignore
                        </label>
                    {{else}}
                        <input
                            type="checkbox"
                            class="editable-element"
                            {{#if value}}checked{{/if}} />
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>