{{#if title}}
    <a href="{{titleUri}}" class="anchor-header">
        <h1>{{title}}</h1>
    </a>
{{/if}}

{{#each tasks}}
    <div class="item"
         title="{{description}}"
         data-task-id="{{id}}">

        <a class="column" href="https://app.todoist.com/app/task/{{id}}">
            {{content}}
        </a>

        {{#if due.parsed}}
            <a class="column {{#if is_past_due}}negative-attention{{/if}} {{#if is_due_today}}positive-attention{{/if}}"
               href="https://app.todoist.com/app/task/{{id}}"
               style="flex: 0 0 5rem;">
                {{readable-date due.parsed}}
            </a>
        {{/if}}

        <span class="column done-button item-action material-icons">
            done
        </span>
    </div>
{{else}}
    No tasks for today!
{{/each}}
