{{#if title}}
    <!-- We want https://dashboard.thelightphone.com/devices/{{deviceId}}/tools/notes/view here,
         but lightphone dashboard has a bug that fails to load the page if we navigate beyond /toos.-->
    <a href="https://dashboard.thelightphone.com/devices/{{deviceId}}/tools" class="anchor-header">
        <h1>{{title}}</h1>
    </a>
{{/if}}

{{#each notes}}
    <div class="item" data-id="{{id}}">
        <span class="column {{#if-equals type 'audio'}}audio-container{{/if-equals}}">
            {{#if-equals type 'text'}}
                {{#if title}}
                    <span title="{{text}}">{{title}}</span>
                {{else}}
                    <span style="white-space: pre-line">{{text}}</span>
                {{/if}}
            {{/if-equals}}
        </span>

        {{#if-equals type 'audio'}}
            <span class="column download-button item-action material-icons"
                  title="{{readable-datetime timeUpdated}}">
                south
            </span>
        {{/if-equals}}

        <span class="column done-button item-action material-icons">
            done
        </span>
    </div>
{{else}}
    No notes.
{{/each}}

<style>
    .simple-audio-player
    {
        width: 100%;
        display: flex;
    }

    .simple-audio-player .play-button
    {
        cursor: pointer;
        color: #555555;
    }

        .simple-audio-player .play-button:hover
        {
            color: black;
        }

        .simple-audio-player input[type=range]
        {
            -webkit-appearance: none;
            background: transparent;
            cursor: pointer;

            flex-grow: 1;
            margin-right: 0.5em;
        }

            .simple-audio-player input[type=range]::-webkit-slider-thumb
            {
                -webkit-appearance: none;
                display: none;
                
                width: 0.4em;
                height: 0.4em;
                border-radius: 50%;
                margin-top: -0.15em;
                background-color: #555555;
            }

            .simple-audio-player.loaded input[type=range]::-webkit-slider-thumb
            {
                display: inherit;
            }

                .simple-audio-player.loaded input[type=range]:hover::-webkit-slider-thumb
                {
                    background-color: black;
                }

            .simple-audio-player input[type=range]::-webkit-slider-runnable-track
            {
                width: 100%;
                height: 1px;
                background-color: #555555;
            }

                .simple-audio-player input[type=range]:hover::-webkit-slider-runnable-track
                {
                    background-color: black;
                }
</style>