<h1>
    <a href="{{{issue.html_url}}}">{{issue.title}}</a>
</h1>

{{#if bodyHtml}}
    {{{bodyHtml}}}
{{else}}
    This issue does not have any details.
{{/if}}

{{#each comments}}
    <div style="border-top: 1px solid black;">
        {{{bodyHtml}}}
    </div>
{{/each}}