{{#if title}}
    <a href="{{url}}" class="anchor-header">
        <h1>{{title}}</h1>
    </a>
{{/if}}

{{#each issues}}
    <a class="item" href="{{{html_url}}}" data-issue-id="{{id}}">
        <span class="column">
            {{title}}
        </span>
    </a>
{{else}}
    No issues.
{{/each}}

<dialog class="issue-viewer" style="width: 70%; height: 75%; overflow: auto;">
</dialog>