{{#if title}}
    <h1>{{title}}</h1>
{{/if}}

{{#each threads}}
    <div class='thread'>
        <a href='https://mail.google.com/mail/?authuser={{ownerEmailAddress}}#inbox/{{threadId}}'
           title='{{thread.snippet}}'
           style='font-weight: {{#if isUnread}}bold{{else}}normal{{/if}}'>
            {{#if from.displayName}}from.displayName{{else}}from.email{{/if}}: {{subject}}
        </a>
    </div>
{{/each}}