{{#if title}}
    <a href="https://mail.google.com/mail/?authuser={{emailAddress}}#inbox" class="anchor-header">
        <h1>{{title}}</h1>
    </a>
{{/if}}

{{#each threads}}
    <a class="item"
       href="https://mail.google.com/mail/?authuser={{../emailAddress}}#inbox/{{threadId}}"
       data-thread-id="{{threadId}}">
        
        <span class="column {{#if isUnread}}highlight{{/if}}"
              title="{{snippet}}">
            {{subject}}
        </span>
        
        <span class="column" style="flex: 0 0 8rem" title="{{from.email}}">
            {{#if from.displayName}}
                {{from.displayName}}
            {{else}}
                {{from.email}}
            {{/if}}
        </span>

        <span class="hover-action-block">
            <span class="action material-icons archive-thread" title="Archive">done_outline</span>
        </span>
    </a>
{{else}}
    No emails today.
{{/each}}